.collapse {
    background-color: #D450EB;
    font-family: monospace;
    overflow: hidden;
}

.collapse a {
    padding: 12px;
    font-size: 24px;
    color: azure;
    text-decoration: none;


}

.collapse a.active {
    background-color: #65962C;
}

button {
    font-size: 20px;
}

.text-large {
    font-size: 200%;
}